<h3>Submit your image </h3>
<%= form_for(@user) do |f| %>
    <%= f.label :Url %>
    <%= f.text_field :url %>
		<br />
    <br />
    <%= f.label :Position %>
    <%= f.text_field :position %>
		<br />
		<br />
	<%= f.submit "Submit"%>
<% end %>






