<!DOCTYPE html>
<html>
<head>
  <title>Fabelio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>

<style>
.bxslider {
  height: auto;
  width: 640px;
  background-color: #c41230;
  background-size: cover;
  position: relative;
  border: 1px solid red;
}
</style>

<%= yield %>

</body>
</html>
